<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
      
<head>
    <title>Welcome</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css">
</head>

<body class="text-center">
    <form class="form-signin" action="/masuk" method="POST">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <br>
        <span style="color: red;" th:text="${msg}"></span>
        <h1 class="h3 mb-3 font-weight-normal">Masukan Password Anda</h1>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="passwordTxt" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Masuk</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
</body>

</html>